

.jumbotron {
	width: 100%;
	height: 600px;
	background-image: url("../images/background-1.png");
	background-size: cover;
	background-color: #000000 !important;
}

.container h1 {
	color: #D8BA57;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
}

.container .home_img {
	margin-top: 50px;
}

#new_album .row .col-sm-7 h3, #new_album .row .col-sm-7 p {
	color: #B3B6B7;
}
#new_album .row .col-sm-5 h3, #new_album .row .col-sm-5 p {
	color: #B3B6B7;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.bg-1 {
	width: 100%;
	background-image: url("../images/b3_background.png") !important;
	background-size: cover;
	background-color: #000000 !important;
}


.videos-title {
	margin-left: 20px;
	font-size: 22px;
	color: #B3B6B7;

}


.thumbnail {
	background-color: #000000 !important;
}

audio {

	width: 400px;


}

h4.title {
	font-size: 14px;
}
#playlist .active a {
	color: #5DB0E6;
	text-decoration: none;
}



#playlist li a {
	color: #eeeedd;


	display: block;
}

#playlist li a:hover {
	text-decoration: none;
}

.submit-btn {
	color: black;
}

.submit-label {
	color: #eeeedd;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #000000;
	padding: 15px;
	color: #BDC3C7;
}
